@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Sriracha&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Sriracha', cursive;

*/

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;

}

a{
  text-decoration: none;
}


.home{
  background-image: url(../img/bghome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 373px;
}

.infoHome{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoHome h1{
  color: white;
  width: 90%;
 
  margin: 30px auto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 68px;
}

.infoHome button{
  margin-top: 100px;
  width: 93px;
  height: 21px;
  background-color: #FF5C00;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 12px;
}


.home button:hover{
    transition: 1s;
    background-color: #d45810f6;
    
}


header{
  
  background-color: rgba(0, 0, 0, 0.315);
  height: 50px;
  padding: 0px 5%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10% 5px 5%;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-between;

  width: 150px;
  
}


header ul li a{
  font-size: 12px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

header ul li a:hover{
  color: #f0bea1de;
  border-bottom: 1px solid  #FF5C00;
}




/*==========MAIN==============*/



main h1{
  margin-top: 30px ;
  font-family: 'Sriracha', cursive;
  font-weight: 500;
  font-size: 1.5em ;
  text-align: center;
  


}

hr{
  margin: 0 auto;
  width: 10%;
  font-weight: bolder;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: center;

}

.card{
  width: 200px;
  display: flex;
  flex-direction: column;

  margin-top: 20px;
 
  border: 1px solid red;
}


.imgCard img{
  width:200px ;
  height: 150px;

}

.imgCard p{
 font-weight: bolder;
 color: white;

 position: relative;
 bottom: 150px;
 left: 5px;

 width: 80px; 
  
}


